aniso8601==10.0.1
astroid==3.3.11
attrs==25.4.0
blinker==1.9.0
click==8.1.8
dill==0.4.0
Flask==3.1.2
importlib_metadata==8.7.0
isort==6.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
mccabe==0.7.0
mistune==3.1.4
packaging==25.0
platformdirs==4.4.0
pytz==2025.2
PyYAML==6.0.3
referencing==0.36.2
rpds-py==0.27.1
six==1.17.0
tomli==2.3.0
tomlkit==0.13.3
typing_extensions==4.15.0
Werkzeug==3.1.3
zipp==3.23.0
