{% extends 'base.html' %} {% block content %}
<article>
  <div class="grid">
    <button class="outline" onclick="window.location = '/lists/start/{{ list.id }}'">Démarrer</button>
    <button class="secondary" onclick="handleArchiveList({{ list.id }})">Archiver</button>
  </div>
</article>
<article id="list" data-list-id="{{ list.id }}">
  <header style="display:flex;justify-content:space-between;align-items: center;">
    Liste du {{ list.date }} 
  </header>
  <input
    type="search"
    placeholder="Rechercher un produit..."
    aria-label="Search"
    oninput="handleSearch(event)"
  />
  <footer style="display: none">
    <table class="striped">
      <tbody></tbody>
    </table>
  </footer>
</article>
<article>
  {% for product in products %}
  <div onclick="openDialog({{ product }})">{{ product.name }}</div>
  <hr />
  {% endfor%}
</article>
<dialog id="productDialog">
  <article>
    <p></p>
    <footer>
      <button class="secondary" onclick="closeDialog()">
        Annuler
      </button>
      <button onclick="deleteProduct()">Valider</button>
    </footer>
  </article>
</dialog>
<script>
  function debounce(func, delay) {
    let timeout;
    return function (...args) {
      clearTimeout(timeout);
      timeout = setTimeout(() => {
        func.apply(this, args);
      }, delay);
    };
  }

  async function search(event) {
    const query = event.target.value;

    const footer = document.querySelector("footer");
    const tbody = document.querySelector("tbody");

    tbody.innerHTML = "";

    if (!query) {
      footer.style.display = "none";
      return;
    }

    const res = await fetch("/products/search?q=" + query);

    const result = await res.json();

    if (result.length === 0) {
      tbody.insertAdjacentHTML("beforeend", "<tr><td>Aucun résultat.</td><tr>");
      footer.style.display = "block";
      return;
    }

    result.forEach((x) => {
      tbody.insertAdjacentHTML(
        "beforeend",
        `
                <tr>
                    <td>${x.name}</td>
                    <td><button onclick="addProductToList(${x.id})">Ajouter</button></td>
                </tr>`
      );
    });

    footer.style.display = "block";
  }

  const handleSearch = debounce(search, 300);

  async function addProductToList(id) {
    const listId = document.querySelector("#list").dataset.listId;

    await fetch("/lists/add-product", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ list_id: listId, products_id: id }),
    });

    location.reload();
  }

  let currentProduct
  function openDialog(product) {
    currentProduct = product
    const dialog = document.querySelector("#productDialog")

    dialog.querySelector("article p").textContent = `Supprimer ${currentProduct.name} de la liste ?`
    dialog.setAttribute("open", null)
  }

  function closeDialog() {
    const dialog = document.querySelector("#productDialog")
    dialog.querySelector("article p").textContent = ''
    dialog.removeAttribute("open")
    currentProduct = null
  }

  async function deleteProduct() {
    const listId = document.querySelector("article").dataset.listId;

    await fetch(`/lists/${listId}/delete-product/${currentProduct.id}`, { method: "DELETE" })

    location.reload()
  }

  async function handleArchiveList(id) {
    const ok = confirm("Êtes-vous sur d'archiver la liste ?")

    if (!ok) {
      return
    }

    await fetch('/lists/archive/' + id, { method: "PUT" })

    window.location = '/'
  }
</script>
{% endblock %}
