{% extends 'base.html' %} {% block content %}
<form method="POST">
    <input type="hidden" value="{{ product.id }}" name="product_id"/>
  <input
    data-alley-id="{{ product.alley_id }}"
    type="text"
    name="product"
    placeholder="Produit"
    aria-label="Produit"
    value="{{ product.name }}"
  />
  <select name="alley_id" aria-label="Sélectionner une allée..." required>
    <option selected disabled value="">Sélectionner une allée...</option>
    {% for alley in alleys %}
    <option value="{{ alley.id }}">{{ alley.name }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Enregistrer" />
</form>
<div class="grid">
  <button onclick="history.go(-1)">Annuler</button>
</div>
<script>
  const productAlleyId = document.querySelector('input[name="product"]').dataset.alleyId
  const alleys = document.querySelectorAll("select option")

  alleys.forEach(x => {
    if (x.getAttribute("selected") === ''){
      x.setAttribute("selected", null)
      return
    }

    if (productAlleyId !== x.value) {
      return
    }

    x.setAttribute("selected", "")
  })
</script>
{% endblock %}
