<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='pico.min.css') }}"
    />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <title>My Groceries Lists</title>
  </head>
  <body>
    <main class="container">
      <nav>
        <ul>
          <li onclick="window.location = '/'" style="cursor: pointer">
            <strong>My Groceries Lists</strong>
          </li>
        </ul>
        <ul>
          <li><a href="/alleys">Allées</a></li>
          <li><a href="/products">Produits</a></li>
        </ul>
      </nav>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
