{% extends 'base.html' %} {% block content %}
<article>
  <div class="grid">
    <button class="outline" onclick="window.location = '/products/add'">
      Ajouter
    </button>
  </div>
</article>
<table>
  <thead>
    <tr>
      <th scope="col">Produit</th>
      <th scope="col">Allée</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.alley }}</td>
      <td>
        <button class="secondary" onclick="updateProduct({{ product.id }})">
          Modifier
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  function updateProduct(id) {
    window.location = "/products/" + id;
  }
</script>
{% endblock %}
